# Donos das normas da organização educacional.
*                       @patricksferraz
/rulesets/              @patricksferraz
/properties/            @patricksferraz
/.github/workflows/     @patricksferraz
